@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  ---VeryDarkGray--: hsl(0, 0%, 17%);
  ---DarkGray--: hsl(0, 0%, 59%);
  --gapSize--: 15px;
  --fontSize--: 18px;
  --fontWeight1--: 400;
  --fontWeight2--: 500;
  --fontWeight3--: 700;
}

body {
  font-family: "Rubik", sans-serif;
}

/* THE IP ADDRESS INPUT */

#ip {
  margin-bottom: 1rem;
}

.ip-inputs {
  width: 100%;
  height: 250px;
  background-image: url(../images/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

/* THE ARROW BUTTON */

.buttonIn {
  width: 400px;
  position: relative;
  cursor: pointer;
}

.icon {
  position: absolute;
  right: 0%;
  height: 50px;
  background-color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  cursor: pointer;
}

/* THE IP ADDRESS NUMBER INPUT */

#ip-number {
  width: 400px;
  height: 50px;
  padding: 1rem;
  border-radius: 10px;
  font-size: var(--fontSize--);
  font-family: "Rubik", sans-serif;
  font-weight: var(--fontWeight1--);
  cursor: pointer;
}

#ip-number::placeholder {
  font-size: 14px;
}

#ip-number:focus {
  outline: none;
}

.inputs {
  margin: 0rem 0 2rem 0;
  position: absolute;
}

.inputs > h1 {
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}

/* THE RESULT FROM THE API */

.ip-info {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 25px;
  position: relative;
  z-index: 99;
  top: 50%;
  /* max-width: auto; */
  /* width: 858px; */
  height: 150px;
  background-color: white;
  color: var(---VeryDarkGray--);
  border-radius: 15px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.inputed-address {
  padding-right: 1rem;
  border-right: 1px solid #969696;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  gap: var(--gapSize--);
}

.location {
  padding-right: 1rem;
  border-right: 1px solid var(---DarkGray--);
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  gap: var(--gapSize--);
}

.timezone {
  padding-right: 1rem;
  border-right: 1px solid var(---DarkGray--);
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  gap: var(--gapSize--);
}

.isp {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  /* gap: var(--gapSize--); */
  inline-size: 300px;
  height: 75px;
  /* max-width: 300px; */
}

/* THE RESULT HEADER */

.inputed-address > p {
  color: var(---DarkGray--);
  font-size: 15px;
  font-weight: var(--fontWeight1--);
}

.location > p {
  color: var(---DarkGray--);
  font-size: 15px;
  font-weight: var(--fontWeight1--);
}

.timezone > p {
  color: var(---DarkGray--);
  font-size: 15px;
  font-weight: var(--fontWeight1--);
}

.isp > p {
  color: var(---DarkGray--);
  font-size: 15px;
  font-weight: var(--fontWeight1--);
}

/* THE RETURENED RESULT  */

.inputed-address > h3 {
  font-size: 24px;
  font-weight: var(--fontWeight2--);
}

.location > h3 {
  font-size: 24px;
  font-weight: var(--fontWeight2--);
}

.timezone > h3 {
  font-size: 24px;
  font-weight: var(--fontWeight2--);
}

.isp > h3 {
  font-size: 24px;
  font-weight: var(--fontWeight2--);
}

/* MAPBOX */

#map {
  position: absolute;
  top: 39%;
  bottom: 3%;
  width: 100%;
}

.marker {
  background-image: url("../images/icon-location.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-size: cover; */
  width: 60px;
  height: 60px;
  /* border-radius: 50%; */
  cursor: pointer;
}

/* THE WATERMARKS */
a.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.treasure {
  position: absolute;
  top: 97%;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.me {
  text-decoration: none;
  color: black;
  font-weight: var(--fontWeight1--);
}

/* MEDIA RESPONSIVITY */
@media screen and (max-width: 860px) {
  .inputs {
    position: absolute;
    margin-bottom: 5rem;
  }

  .ip-info {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-top: 0.3rem;
    top: 90%;
  }

  .inputed-address {
    border: none;
    font-size: 10px;
    gap: 10px;
  }

  .location {
    border: none;
    font-size: 10px;
    gap: 10px;
  }
  .timezone {
    border: none;
    font-size: 10px;
    gap: 10px;
  }
  .isp {
    border: none;
    font-size: 10px;
    gap: 10px;
  }

  #map {
    top: 25%;
    bottom: 0;
  }
}
